.page-not-found-title{
  margin-top: 25%;
  width: 200px;
  margin-left: 45%;
  margin-right: -200px;
  color: red;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.page-not-found{
  margin-top: 25px;
  width: 100px;
  margin-left: 50%;
  margin-right: -50px;
  color: red;
  font-weight: 600;
  font-size: 40px;
}